body {
  max-width: 770px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.9rem; }

table {
  text-align: left;
}

img {
  max-width: 100%;
}

header {
  text-align: right;
}

footer {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

header nav {
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  border-top: 1px solid #000;
}

header nav a {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  flex-basis: 15%;
  flex-grow: 1;
}

header .banner {
  min-height: 200px;
  border: 1px solid black;
  background-image: url('/img/cups.jpg');
  background-size: cover;
}

nav a:hover,
nav a.active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}


/* Blog Posts */
.entry {
  word-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 45px;
}
.entry-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 2px solid #f5f5f5;
}
.entry-meta {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  float: right;
  font-size: 0.7em;
  line-height: 24px;
  padding: 0 8px;
  margin-top: 4px;
  text-transform: uppercase;
}
.entry-content {
  padding-right: 15px;
  line-height: 24px;
}


/* Contact details */
.contact-address,
.contact-telephone,
.contact-email {
  font-weight: bold;
  font-size: 0.9em;
}
.contact-telephone,
.contact-address {
  margin: 10px 0px;
}
